.header {
  background: #ffea00;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0rem; /* Aumentei o padding lateral */
  display: flex;
  justify-content: flex-start; /* Alinhamento à esquerda */
}

.header-container img.header-logo {
  height: 200px;
  width: auto;
  object-fit: contain;
  margin-left: 1px; /* Distância da borda esquerda */
}